.Navigation_Main{
    height:100%;
    width:160em;
    margin:auto;
}

.Navigation_Wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    background-color: rgb(30, 38, 39);
}

.Navigation_Inner_Row{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-shrink:0;
}
.Navigation_Inner_Col{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.Navigation_Main_Sub{
    justify-content: center;
    align-items: center;
    flex:1;
    height:100%;
    padding:0;
    margin:0;
}

#Navigation_User_Menu{
    display:flex;
    flex:.1;
}

.Navigation_User_Menu_Hidden{
    flex:0 !important;
}

#Navigation_User_Menu #Navigation_Sign_In{
    flex:1;
    height:77.5%;
    margin:1em;
    background-color: transparent;
    color:rgb(70, 211, 211);
    border: solid rgb(70, 211, 211) .07em;
    font-size:1.25em;
}

#Navigation_Header{
    justify-content: left;
}

#Navigation_Header #Navigation_H_Link{
    font-size:1.5em;
    color:rgb(70, 211, 211);
    margin-left:2em;
}


#Navigation_Toggle_Label{
    font-size:.8em;
    padding:.5em;
    color:rgb(70, 211, 211);
    background-color: transparent;
    border-color:rgb(70, 211, 211);
}

.Navigation_D_Menu{
    background-color: rgb(22, 21, 24);
}

.Navigation_D_Menu #Navigation_D_Item{
color:white;
}

#Navigation_Form{
    flex:.5;
}

#Navigation_Search_Input{
height:80%;
}

#Navigation_Form_Button{
height:80%;
font-size:1.2em;
}


.Navigation_Login_Wrapper{
    position:absolute;
    top:7em;
    right:0px;
    width:55em;
    height:50em;
    font-size:.7em;
    display:flex;
    flex-direction: column;
    border:solid rgb(114, 106, 114) .4em;;
}

.Navigation_Login_Main{
    display:flex;
    flex:2;
    flex-direction: column;
}
#Navigation_User-Menu_Close{
    display:flex;
    flex:.15;
    width:100%;
    margin:auto;
    justify-content: center;
    align-items: center;
    border-top:solid black .3em;
    background-color: rgb(236, 236, 245);
}
#Navigation_User-Menu_Close img{
    width:3%;
}

#Navigation_User-Menu_Close img:hover{
    cursor:pointer;
    width:4%;
}

.Navigation_Profile_Header{
    flex:1;
    height:100%;
    color:black;
    font-size:1.25em;
}
.Navigation_Profile_Header div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
    height:100%;
}




#NPH_Name{
    flex:1.35;
    height:100%;
    color:white;
    padding:.5em;
}

#NPH_Name .Navigation_Inner_Row{
    width:100%;
    height:inherit;
}

#NPH_Name .Navigation_Inner_Row #NPHN_User{
    background-color: white;
    border-radius:1em;
    color:black;
}


#NPH_Name .Navigation_Inner_Row #NPHN_Label{
    flex:1;
    justify-content: left;
}

#NPH_Name .Navigation_Inner_Row #NPHN_Data{
    flex:1;
    justify-content: right
}
#NPH_Dashboard{
    flex:1;
    color:rgb(70, 211, 211);
    background-color: rgb(55, 55, 56);
    text-align: center;
    font-size:1.1em;
    line-height:1.25em;
    margin-left:1em;
    border-radius:.5em;
    padding:1em;
    font-weight: bold;
    border: solid rgb(70, 211, 211) .1em;
}
#NPH_Dashboard:hover{
    background-color: rgb(64, 64, 68);
    cursor:pointer;
}

.Navigation_Profile_Header #NPH_IMG img{
    object-fit:contain;
    height:100%;
    border-radius:100%;
}

.Navigation_Profile_Header #NPH_IMG img:hover{
    cursor:pointer;
    height:120%;
}