.Universal_slideshow {
  display:flex;
  position:relative;
  margin: 0 auto;
  flex-grow:1;
  overflow:hidden;
  padding-left:5%;
}

.Universal_slideshowSlider {
  flex-grow: 1;
  white-space: nowrap;
  transition: ease 1000ms;
  z-index:0
}

.Universal_slideContainer{
  position:relative;
  display: inline-block;
  width:100%;
  height:100%;
  position:relative;
  border-radius:4em;
  background-color: rgb(8, 12, 37);

}
.Universal_slide {
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  width:90%;
  height:90%;
  margin:auto;
  border-radius: 2em;
}

.Universal_slideshowDots {
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  width:15em;
  height:2em;
  left:0px;
  right:0px;
  bottom:.65em;
  margin:auto;

}

#US_app_img{
  max-height:100%;
  max-width:100%;
}

.Universal_slideshowDot {
  border-radius: 50%;
  cursor: pointer;
  height:2.5em;
  width:2.5em;
  margin-left:.5em;
  margin-right:.5em;
  background-color: #c4c4c4;
}

.Universal_slideshowDot.Universal_active {
  background-color: #77a5eb;
}
.Universal_GIF_CONF{
  display: flex;
  flex-direction: column;
  height:400px;
  width:500px;
  margin:auto;
  border-radius: 20px;
  padding:10px;
}
.Universal_row{  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
margin:auto;}
.Universal_video_wrapper {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 0;
  overflow: hidden;
  border: 0;
  z-index: -1;
  font-size: 0;
}

.Universal_video_wrapper video {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  margin:0 auto;
  white-space: nowrap;
  overflow-x: hidden; 
  
}
