.UNV_Main{
    background-color: white;
    height:100%;
    width:100%;
    border:solid blue 2px;
}

.UNV_Row{
    display:flex;
    flex-direction: row;
}

.UNV_Col{
    display:flex;
    flex-direction: column;
}

.UNV_M1{
    border:solid black;
}


.UNV_F_Center{
    justify-content: center;
    align-items: center;
}
.UNV_F_Row_1{
    flex:1;
    width:0; /* Good solution to keep all the same size */
}
.UNV_F_Row_2{
    flex:2;
    width:0;
}
.UNV_F_Row_3{
    flex:3;
    width:0;
}
.UNV_F_Row_4{
    flex:4;
    width:0;
}
.UNV_F_Row_5{
    flex:5;
    width:0;
}

.UNV_BreakWord{
    word-break: break-all;
}

.UNV_Padding_d1{
    padding:.1em
}

.UNV_Padding_d2{
    padding:.2em
}

.UNV_Padding_d5{
    padding:.5em
}

.UNV_Padding_d10{
    padding:1em
}

.UNV_F_Col_1{
    flex:1;
    height:0;
}
.UNV_F_Col_2{
    flex:2;
    height:0;
}
.UNV_F_Col_3{
    flex:3;
    height:0;
}
.UNV_F_Col_4{
    flex:4;
    height:0;
}
.UNV_F_Col_5{
    flex:5;
    height:0;
}



.UNV_Root_Font{
    font-size:15px;
}

.UNV_IMG_Contained{
    height:100%;
    max-width: 100%;
    border-radius:10em;
}

.UNV_Interact_Hover:hover{
    background-color: black;
}


.UNV_Relative{
    position:relative;
}

.UNV_Absolute{
    position:absolute;
}

.UNV_Clickable{
    cursor:pointer
}


.UNV_Photo_Options{
    left:50%;
    right:0px;
    top:0;
    bottom:0;
    margin:auto;
    font-size:2em;
    width:fit-content;
    height:fit-content;
    cursor:pointer;
    color:navy;
}

