{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 ,maximum-scale=1" />


<body>
    
    <form id="form">
        {% csrf_token %}

            <div id="login-info" >
                <hr>
                <p>Please Login:</p>
                <hr>

                <div class="login">
                    <input class="form-control" type="text" name="address" placeholder="User Name">
                </div>

                <hr>

                <div class="login">
                    <input class="form-control" type="text" name="city" placeholder="Password">
                </div>
                
                <hr>

            </div>

        <hr>
        <hr>
        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Sign In">
    </form>

</body>

{% endblock content %}