.MS_Container{
    display:flex;
    flex-direction:column;
    border-style:dotted;
    height:100%;
    border-color:white;
    align-items: center;
    margin-top:auto;
    
}

.MS_Dead{
    display:flex;
    color:red;
    z-index: 1;
    height:400px;
    width:1800px;
    flex-direction: column;
    position:absolute;
    top:0px;bottom:0px;left:0px;right:0px;
    margin:auto;
    background-color:black;
}

.MS_Dead div .MS_gameover{
    display:flex;
    font-size:150px;
    height:75%;
    width:100%;
    z-index: 1;
    border-style: dotted;
    align-items: center;
    justify-content: center;
}

.MS_Dead div{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
}
.MS_Dead div .MS_Restart{
    font-size:40px;
    color:black;
    font-weight: bold;
    background-color: rgb(105, 106, 107);
    display:flex;
    width:25%;
    height:25%;
    justify-content: center;
    align-items: center;
    border-style:dotted;
    border-color:red;
    margin-left:auto;

}
.MS_AppTitle{
    display:flex;
    height:70px;
    width:400px;
    align-items: center;
    justify-content: center;
    font-size:35px;
    color:white;
    background-color: rgb(5, 5, 128);
    border-style:double;
    border-radius:10px;
    margin-top:20px;
    margin-bottom:20px;
}


.MS_MineSweeper{
    display:flex;
    color:white;
    position:relative;
    aspect-ratio: 1 / 1;
    height:90%;
}

.MS_cell_wrap{
    flex-grow: 0;
    display:flex;
    height:1000px;
    width:37px;
    flex-direction: column;
}
.MS_cell{
    flex-grow:1;
    border-top:.4vh solid whitesmoke;
    border-left:.4vh solid whitesmoke;
    border-right: .4vh  solid black;
    border-bottom: .4vh solid black;
    background-color: rgb(107, 105, 105);
    margin:1px;
    height:10px;
    border-radius:0;
    cursor:pointer;
}
.MS_flagmine{
    background-color: red;
}
.MS_Safe{
    background-color:rgb(57, 95, 57);
    color:transparent;
    width:100%;
    height:100%;

}
 .MS_shallow_hide{
    background-color:none;
    border:none;
} 

.MS_hidden{
    display:none
}
.MS_Wrong_Choice{
    background-color:red;
    width:100%;
    height:100%;
}