.Forum_Main{
    font-size:1em;
    display:flex;
    height:inherit;
    overflow:hidden;
    width:100%;
    background-color: rgba(0, 0, 0, 0.692);
}

.Forum_Main_Side{
    flex:1;
    padding:.5em;
}

.Forum_Main_Mid{
    flex:5;
    padding:.5em;
    height:100%;
}

.Forum_Inner_Col{
    display:flex;
    flex-direction: column;
}

.Forum_Inner_Row{
    display:flex;
    flex-direction: row;
}

.Forum_Div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:100;
}

#MM_Content_Wrapper{
    font-size: 1.14em;
    height:100%;
}
#MM_Subsection{
    height:2em;
    z-index:1;
    color:white;

    
}

.MM_Subsection_Title{
    border-right:solid black .05em;
    border-bottom: solid black .1em;
    border-top:solid black .1em;
    background-color: rgb(49, 49, 107);
        max-width:calc(1/9*100%)
}
#MM_Listings{
    z-index:1;
    flex-grow:0;
    background-color: rgb(176, 176, 236);
    background-color: rgb(212, 212, 250);
}

#MM_Listing_Title{
    flex:100;
}

#MM_Listing_ID{
    flex:100;
}

#MM_Listing_Category{
    flex:100;
}

#MM_Listing_Time{
    flex:100;
}

#MM_Listing_NMembers{
    flex:100;
}

#MM_Listing_Author{
    flex:100;
}

#MM_Listing_New_Message{
    flex:100;
}

.MM_Listing{
    flex:100;
    height:1.6em;
    border-bottom:solid black .05em;
    border-right:solid black .05em;
    color:black;
    background-color: white;
    max-width:calc(1/9*100%)
    
}

#MM_Listing_Index{
    display:flex;
    margin-top:.5em;
    margin-bottom:.5em;
}

#MMLI_button{
    flex-grow:0;
    height:1.5em;
    color:black;
    background-color: transparent;
    padding:0;
    margin-left:.5em;
    padding:.25em;
    margin-right:.5em;
    border:none;
}
#MS_Left_Title{
    display:flex;
    height:3.5em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: rgb(176, 176, 236);
    border-radius: .5em;
    margin-bottom:.5em;
    
}

#FMSL_Category_Title{
    font-size:1.5em;
    font-weight: bold;
    background-color: rgb(176, 176, 236);
    border-radius: .5em;
}

#FMSL_Categories{
    flex-grow:1;
}

#FMSL_Category_Container{
    flex:2000;
    display:flex;
    flex-wrap:wrap
}



.Forum_Div .Forum_Category_Button{
    border-radius: 3em;
    height:5em;
    width:7em;
    border:solid black .15em;
    background-color: rgb(212, 212, 250);
    font-weight: bold;
    font-size:1.3em;
    color:black;
}

#FMSR_Title{
    color:white;
    font-size: 1.5em;
    font-weight: bold;
    height:3.5em;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 49, 107);
    color:white;
    border-radius:.5em;
    
}


#FMSR_Score_Categories{
    display:flex;
    flex-grow:0;
    width:100%;
    font-size:1.25em;
    margin-top:1em;
}

#FMSR_Score_Category{
    display:flex;
    height:100%;
    max-width:calc(2/7*100%); 
    flex:100;
    flex-wrap:wrap;
    color:white;
}

#FSMRSC_Title{
    background-color: rgb(176, 176, 236);
    display:flex;
    height:100%;
    max-width:calc(3/7*100%); 
    flex:150;
    flex-wrap:wrap;
    color:black;
}

#FMSR_ScoreBoard{
    flex-grow:0;
}