/* .Injected_Home_Container{
    display:flex;
    width:100%;
    height: 100%;
}

.Injected_Intro_Column{display:flex;flex-direction: column;width:40%;height:100%;}

#Injected_SlideShowGIF{display:flex;width:60%;height:100%;}

.Injected_Feature_Block_Row{display:flex;align-items: center; flex-grow:0;justify-content: center;height:30%;width:100%;padding:1em;}

.Injected_Feature_Left_Row{
    display:flex;
    width:50%;
    flex-grow:0;
    height:100%;
    flex-direction: column;
    flex-grow:1;
    font-size:1.25em;
    font-weight: bold;
    line-height: 1.5em;
    border-radius:2em;
    background-color: white;
    text-align: justify;
    border: solid black .45em;
}
.Injected_Feature_Left_Row p{
    padding-left:2em;
    padding-right:2em;
    margin:auto;
}

.Injected_Feature_Right_Row{
    display:flex;
    flex-grow:0;
    flex-wrap:wrap;
    justify-content:space-between;
    padding-left:1em;
    width:50%;
    height:100%;
}
.Injected_Feature_Right_Row button{
display:flex;
justify-content: center;
align-items: center;
font-size:1.35em;
margin-top:.2em;
margin-bottom:.2em;
padding:.5em;
border-radius:1.55em;

}

.Injected_FeatureDetail{
    position:relative;
    display:flex;
    height:70%;
    width:100%;
    flex-direction: column;
    border-radius:1em;
    padding-top:1em;
}
.Injected_FeatureDetail #Injected_FD_Text{
    position:absolute;
    display:flex;
    bottom:0px;
    left:0px;
    right:0px;
    top:0px;
    margin:auto;
    align-items: center;
    text-align:justify;
    width:80%;
    height:22em;
    z-index:1;
    margin:auto;
    font-size:1.75em;
    line-height: 1.25em;
    color:white; 
    font-family:'Times New Roman', Times, serif;
}

.Injected_FeatureDetail #Injected_FD_Comment{
    display:flex;
    rotate:180deg;
    height:100%;
    object-fit: contain;
    object-position: center;
}   */