.Create_Main{
    display:flex;
    height:100%;
    width:100%;
    background-color: rgba(45, 45, 48, 0.884);
    justify-content: center;
    align-items: center;
    z-index: 2;
    color:white;
}

.Create_Main_Mid{
    display:flex;
    justify-content: center;
    align-items: center;
    width:60%;
    height:100%;
    margin:auto;
    font-size:4em;
    color:black;
    background-color: rgb(255, 255, 255);
    padding:1em;
    padding-top:.25em;
    padding-bottom:.25em;
}
.Create_Inner_Col{
    display:flex;
    flex-direction:column;
}

.Create_Inner_Row{
    display:flex;
    flex-grow:1;
    flex-direction: row;
    color:black;
}

.Create_Label{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex:.5;
    height:100%;
}

.Create_Title{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
    font-weight: bold;
    border:none;
}

.Create_Input_Wrapper{
    position:relative;
    display:flex;
    height:65%;
    justify-content: center;
    align-items: center;
    flex:1;    
}

.Create_Input_Data{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
    text-align: center;
    background-color: transparent;
    border:solid rgba(0, 0, 0, 0.257) .12rem;
}

.Create_Input_Data::placeholder{
    text-align: center;
    opacity:.3;
}

.Create_Input_Data:focus{
    outline: none;
}

#Create_Button{
    flex:.5;
    width:35%;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    font-size:1.15em;
    border:solid black .075em;
    padding:.1em;
    background-color: rgb(167, 181, 243);
    border-radius:.5em;
}

.Create_Main_Mid #Spacer{
    flex:.25;
}

#Create_Show_Password{
    position:relative;
    background-color: transparent;
    border:none;
    font-size:.5em;
    height:100%;
    color:rgb(49, 49, 85);
    width:15%;
    opacity:.75;
    text-align: center;
    border: solid rgba(0, 0, 0, 0.342) .02em;

}

.Create_Options{
    width:100%;
    height:1.5em;
    flex-grow:0;
    flex-shrink:0;
}

.Create_Row_Div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
    height:100%;
    width:50%;
    font-size:.5em;
    padding-left:.25em;
    padding-right:.25em;    
    color:rgb(16, 32, 134);
}


#Create_Option_Buttons:hover{
    background-color: rgb(249, 250, 255);
    font-size:.55em;
    cursor:pointer;
}

.Create_Col_Div{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    width:100%;
    font-size:.5em;
    padding-left:.25em;
    padding-right:.25em;
    color:rgb(16, 32, 134);
}

#Login_Mult_Col_Sub{
    padding:0;
}


.Create_Mult_Col_Wrap{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    height:100%;
    font-size:1em;
    padding:0;
    padding-bottom:1em;
    color:rgb(16, 32, 134);
    
}
.Create_Mult_Col_Wrap .Create_Label{
    flex:1;
    font-size:1.25em;
    width:100%;
    justify-content: center;
    align-items: center;
    order:2;
    border:none;
}

.Create_Mult_Col_Wrap .Create_Input_Wrapper{
    display:flex;
    flex:1;
    width:100%;
    font-size:2em;
    order:1;
}
#Login_Full_Name_Title{
    display:flex;
    align-items: flex-start;
}
#Login_Age{
    width:7.5%;
    margin-right:auto;
}
#Login_Email{
    width:100%;
    margin-right:auto;
}
#Login_Username{
    width:100%;
    margin-right:auto;
}

#Login_Occupation{
    width:50%;
    margin-right:auto;
}


#Create_Password_Wrapper{
    margin-top:.1em;
    flex:1.1;
}

#Create_Password{
    width:100%;
    height:100%;
    font-size:1em;
    border-right:none
}

#Create_Password_Sub{
    width:100%;
    height:70%;
    display:flex;
}


#Create_Security_Wrapper{
    margin-top:1.25em;
}

.Create_Mult_Row_Wrap{
    font-size:2.75em;
    padding:0;
    margin-bottom:.75em;
}

.Create_Mult_Row_Wrap .Create_Label{
    display:flex;
    justify-content: center;
    flex:.3;
    border:solid rgba(0, 0, 0, 0.226) .1em;
    border-right:none;
}

.Create_Mult_Row_Wrap .Create_Input_Wrapper{
    height:100%;
}

#Create_Security_Title{
    align-items: flex-start;
}

#Create_Location{
    display:flex;
    align-items: flex-start;
}

#Create_Location_Wrapper{
    margin-top:1em;
}

.Login_Failed::placeholder{
    color:rgb(255, 0, 0);
    font-size:.8em;
    opacity:0.5 !important;
}

#Login_Mult_Col_Wrapper{
    flex:1.2;
    margin-top:1em;
}