.Login_Main{
    display:flex;
    height:100%;
    width:100%;
    z-index: 2;
    color:white;
}


.Login_Main_Mid{
    width:100%;
    height:100%;
    margin:auto;
    border-radius:.25em;
    font-size:3em;
    color:black;
    background-color: rgb(236, 236, 245);
    padding:1em;
    padding-top:.25em;
}
.Login_Inner_Col{
    display:flex;
    flex-direction:column;
}

.Login_Inner_Row{
    display:flex;
    flex-grow:1;
    flex-direction: row;
    color:black;
}

.Login_Label{
    display:flex;
    justify-content: flex-start;
    align-items: center;

    flex:1;
    border:none;
}

.Create_Label{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
    font-weight: bold;
    border:none;
}

.Login_Input{
    position:relative;
    flex-grow:1;
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
    border:none;
    border:solid black .1em;
}

.Login_Input input{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
    text-align: center;
    background-color: transparent;
    border:none;
}

.Login_Input input::placeholder{
    text-align: center;
    opacity:.3;
}

.Login_Input input:focus{
    outline: none;
}

#Login_Button{
    flex:1.2;
    margin-top:auto;
    background-color: rgb(167, 181, 243);
    border-radius:.5em;
}

.Login_Main_Mid #Spacer{
    flex:.75;
    display:flex;
    justify-content: center;
    align-items: center;
    color:red;
    opacity:.5;
}

.Login_Main_Mid #Spacer div{
    font-size:.75em;
    width:100%;
}

#Login_Show_Password{
    position:absolute;
    background-color: transparent;
    border:none;
    font-size:.4em;
    color:rgb(49, 49, 85);
    width:20%;
    opacity:.75;
    bottom:0em;
    right:0em;
    padding:0;
    text-align: right;
    padding-right:.2em;
}

.Login_Options{
    display:flex;
    flex-direction: row;
    height:1em;
    padding-top:1em;
    justify-content: space-between;
}

.Login_Row_Div{
    display:flex;
    height:100%;
    width:47%;
    font-size:.52em;
    text-align: center;
    color:rgb(16, 32, 134);
}



.Login_Row_Div:hover{
    background-color: rgb(249, 250, 255);
    font-size:.56em;
    cursor:pointer;
}

.Login_Col_Div{
    display:flex;
    flex:.5;
    justify-content: center;
    align-items: center;
    width:100%;
    font-size:.5em;
    padding-left:.25em;
    padding-right:.25em;
    color:rgb(16, 32, 134);
}
