<!DOCTYPE html>

{% load static %}

<html lang="en">

  <head>

    <input name="request.user" id="request.user" value="{{request.user}}" style="display:none"></input>
    <input name="newcookie" id="newcookie" value="{{newcookie}}" style="display:none"></input>
 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="icon" href="{% static 'store/favicon.ico' %}"/>  
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/main.css' %}"/>
    <script type="module" src ="{% static 'store/js/cookie.mjs' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 ,maximum-scale=1" />




    {% csrf_token %}

  </head>


  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container_main">
      
      <div class="container_left-header">

        <a class="name" href="{% url 'home' %}"><strong>&nbsp  Pho Le Vietnamese Cuisine  &nbsp</strong></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>

      <div class="collapse navbar-collapse container_1" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto container_2">

          <li class="nav-item active">
            <a class="nav-link hidden" href="#"><span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="#"></a>
          </li>

          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'store' %}">Store</a>
              <a class="dropdown-item" href="{% url 'react_home' %}">Apps</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="">About</a>
            </div>

          </li>

          <li class="nav-item">
            <a class="nav-link disabled hidden" href="#">Disabled</a>
          </li>
          
        </ul>

        <div class="my-2 container_right-header">

          <div><a href="{% url 'login' %}" class="btn btn-warning">Login</a></div>

          <div >
            <a href="{% url 'cart' %}"><img id="cart-icon" src="{% static 'store/images/cart.png' %}" alt="" aria-label="Cart Icon"></a>
          </div>

          <div>
            <p id="cart-total">{{cartItemsCk}}</p>
          </div>

        </div>

      </div>
   

    </nav>
    <div class="product_view">  

      {% block content %}

      {% endblock content %}
      <input name="cartItemsCk" id="cartItemsCk" value="{{cartItemsCk}}" style="display:none"></input>
      <input name="cartItems" id="cartItems" value="{{cartItems}}" style="display:none"></input>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

    <script type="module" src ="{% static 'store/js/update_cart.mjs' %}"></script>

  </body>



</html>


