.Rooms_Main{
    display:flex;
    height:100%;
    width:100%;
    background-color: transparent;
}

.Rooms_Main_Side{
    flex:1;
    height:100%;
}

.Rooms_Main_Mid{
    flex:5;
    height:100%;
    background-color: rgba(12, 12, 12, 0.904);
}

.Rooms_Inner_Col{
    display:flex;
    flex-direction: column;
}

.Rooms_Inner_Row{
    display:flex;
    flex-direction: row
}

.Rooms_Div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:100;
}

.Rooms_Div #Rooms_Button{
    background-color: rgba(40, 40, 116, 0.938);
    border:none;
    border-radius:2em;
    padding:1.5em;
    border:solid black .2em;
    text-decoration: none;
    font-weight: bold;
    font-size:2em;
    color:rgb(253, 253, 253)
}
.Rooms_Div button a{
    text-decoration: none;
    color:rgb(253, 253, 253)
}


.Rooms_Content_Wrapper{
    font-size:.99em;
    background-color: gray;
    flex-grow: 1;
    padding:2em;
    border-radius:1em;
}

.Rooms_Subsection_Title{
    border-right:solid gray .1em;
}
.Rooms_Listing{
    flex:100;
    border-bottom:solid gray .15em;
    border-right:solid gray .15em;
}
.Rooms_Category_Button{
    border-radius: 50%;
    height:5em;
    width:7em;
    border:solid black .15em;
    background-color: rgb(212, 212, 250);
    font-weight: bold;
    font-size:1.3em;
}

#Rooms_Full{
    position:absolute;
    display:flex;
    height:calc(100%-5em);
    width:100%;
    top:5em;
    left:0px;
    right:0px;
    bottom:0px;

}

#SA_WebCamWrapper{
    position:absolute;
    height:100%;
    width:100%;
}

#Rooms_Setting_Btn{
    background-color: white
}

#Rooms_Leave_Btn{
    background-color: white
}

.Rooms_Top_Menu{
    display:flex;
    background-color: rgb(233, 233, 240);
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 49, 49);
    height:5em;
    width:100%;
}

.Rooms_Top_Menu div{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:80%;
}

.Rooms_Top_Menu div button{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.5em;
    font-weight: bold;
    height:100%;
    width:90%;
    border-radius:.75em;
    border:solid black .15em
}

#Rooms_Top_Buttons{
    width:30em;
}